# Copy this file to .env and set your MongoDB connection string
MONGO_URI=mongodb+srv://<username>:<password>@cluster0.xxxxx.mongodb.net/fpw-sdp?retryWrites=true&w=majority

# Frontend URL for Midtrans callbacks
FRONTEND_URL=http://localhost:5173/customer

# Midtrans Configuration
MIDTRANS_SERVER_KEY=your_midtrans_server_key
MIDTRANS_CLIENT_KEY=your_midtrans_client_key
